
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [article.user, article], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
